.App-header{
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #343a40;
  z-index: 999;
}

.top-div{
  margin: 0 50px;
}

.top-title{
  font-size: 22px;
  color: white!important;
}