a, a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: inherit;
}

.App {
  text-align: center;
}

.blue{
	color: #0062cc;
}

.btn-primary{
	color: white!important;
}

.center{
	width: fit-content;
	margin: auto;
}
.center-wrapper{
	margin: auto;
	width: fit-content;
}
.btn-primary{
  background-color: #0062cc;
  border-color: #0062cc;
}

.github{
	color: #24292e;
	display: inline-block;
}

.learn-more{
	background-color: #282c34;
}

.left{
	text-align: left;
}

.media-logo{
	max-width: 20%;
	display: inline-block;
	margin-right: 20px;
	max-height: 70px;
}

.media-title{
	display: inline-block;
	margin: 0;
}

.media-wrapper{
	margin-top: 40px;
}
.media-card{
	max-width: 500px;
	margin: 20px auto;
	padding: 5px;
}

