#AboutMe{
	background-color: orange;
	padding: 20px;
}

.about-card{
	padding-top: 20px;
}

.about-image{
	max-width: 30%;
	display: inline-block;
	height: 400px;
	width: auto;
}

.about-text{
	font-size: 15px;
	padding: 20px;
	}

.about-section{
	width: 70%;
	display: inline-block;
	padding-left: 100px;
}